#slider {
  -webkit-appearance: none;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#slider:hover {
  opacity: 1;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  background: #2c96fa;
  cursor: pointer;
}

#slider::-moz-range-thumb {
  border-radius: 100%;
  width: 25px;
  height: 25px;
  background: #2c96fa;
  cursor: pointer;
}
